@import "tailwindcss";

:root {
  --font-size: 18px;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .filter-opacity-0 {
    filter: opacity(0%);
  }

  .filter-opacity-100 {
    filter: opacity(100%);
  }

  .fade-out {
    filter: opacity(0%);
    transition: filter 2s ease-out;
  }

  .fade-in {
    filter: opacity(100%);
    transition: filter 2s ease-out;
  }
}

html {
  font-size: var(--font-size);
}
body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
