@import "tailwindcss";

:root {
  --font-size: 18px;
  --background: #0a0a0a;
  --foreground: #ededed;

  --transition-fade-out: 1000ms;
  --transition-fade-in: 2000ms;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --duration-fade-out: var(--transition-fade-out);
  --duration-fade-in: var(--transition-fade-in);
}

@layer utilities {
  .duration-short {
    transition-duration: 150ms;
  }

  .duration-medium {
    transition-duration: 300ms;
  }

  .duration-long {
    transition-duration: 500ms;
  }

  .duration-fade-out {
    transition-duration: var(--duration-fade-out);
  }

  .duration-fade-in {
    transition-duration: var(--duration-fade-in);
  }

  .filter-opacity-0 {
    filter: opacity(0%);
  }

  .filter-opacity-100 {
    filter: opacity(100%);
  }

  .fade-out {
    filter: opacity(0%);
    transition: filter var(--duration-fade-out) ease-out;
  }

  .fade-in {
    filter: opacity(100%);
    transition: filter var(--duration-fade-in) ease-out;
  }

  @keyframes notificationEnterAndExit {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    90% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .enter-and-exit-notification {
    animation: notificationEnterAndExit 3s ease-in-out forwards;
  }

  @keyframes hueRotate {
    0% {
      backdrop-filter: hue-rotate(0deg);
    }
    15% {
      backdrop-filter: hue-rotate(360deg);
    }
    30% {
      backdrop-filter: hue-rotate(720deg);
    }
    60% {
      backdrop-filter: hue-rotate(1080deg);
    }
    75% {
      backdrop-filter: hue-rotate(1440deg);
    }
    90% {
      backdrop-filter: hue-rotate(1800deg);
    }
    100% {
      backdrop-filter: hue-rotate(2160deg);
    }
  }
  .animate-hue-rotate {
    animation: hueRotate 0.5s linear infinite;
  }
}

html {
  font-size: var(--font-size);
}

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
